# Version control ignores

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/
.env
.env.local
db_data/
pgdata/

# Node / Frontend
node_modules/
dist/
build/
.eslintcache
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Other
create_dummy_user.py
